<div class="jumbotron text-center" ng-if="!main.loggedIn">
    <div>
        <h1>Medical Dojo
    </h1>
    </div>
    <div>
        <p>Acceder a la aplicacion</p>
        <a href="/login" class="btn btn-primary">Iniciar sesion</a>

        
    </div>
</div>



<div ng-if="main.loggedIn" class="col-md-12">

    <ol class="breadcrumb">
        <li class="active">Home</li>
    </ol>



            <div class="panel panel-default col-sm-6" >
                <div class="panel-heading clearfix">
                    <div class="pull-left"><span>Accesos</span></div>
                    <div class="pull-right">
                        <a href="" data-toggle="modal" data-target="#myModal">
                            <span class="glyphicon glyphicon-file"></span>
                        </a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="horizontal_scroll">
                      <br>
                      <br>
                    </div>
               </div>
             </div>


             <div class="panel panel-default col-sm-6">
                 <div class="panel-heading clearfix">
                     <div class="pull-left"><span>Ayuda</span></div>
                     <div class="pull-right">
                         <a href="" data-toggle="modal" data-target="#myModal">
                             <span class="glyphicon glyphicon-file"></span>
                         </a>
                     </div>
                 </div>
                 <div class="panel-body">
                     <div class="horizontal_scroll">
                       <br>
                     </div>
                </div>
              </div>



</div>
